

body { 
    background-image: url("./what-the-hex.png");
   

}

.navbar {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}



.maincontent {
    max-width: 960px;
    margin: auto;
    margin-top: 100px; 
    line-height: 1.5;
    color: gray;
    height: auto;
    background-color: white;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}

/*Jumbotron*/

.jumbotron {
max-width:960px;
margin: auto;
}


/*Image on homepage*/
.placeholderimage {
    float: left;
    padding: 10px;
}

/*Portfolio Gallery*/

  
  footer {
    
    max-width: 960px;
    margin-right: auto;
    margin-left: auto; 
    left: 0;
    bottom: 0;
    height: 50px;
    background-color: gray;
    color: white;
    text-align: center;
    border-top: 3px solid #4aaaa5;
    position: sticky;
}